*
{
 margin: 0px;
 padding: 0px;
 font-family: 'Montserrat', sans-serif;
}
.blueText
{
 color:#028bff;
}
.Center
{
 display: flex;
 /*background-color: red;*/
 margin-top: 2vh;
 margin-right: auto;
 margin-left: auto;
}
.Shadow
{
 width: Calc(80px + 50vw);
 border-radius: 10px;
}
.FlexColum
{
 display:flex;
 flex-direction: column;
 align-items: flex-start;
 justify-items:center;
}
.FlexRow
{
 display:flex;
 flex-direction: row;
 align-items: flex-start;
 justify-items:center;
 gap: 10px;
}

.Table
{
 border-radius:0px 0px 10px 10px;
 padding: 10px;
 background-color: #c0c0c0;

 /*background-color: blue;*/
 margin-left: auto;
 margin-right: auto;
 height: Calc(50vh + 50px);
 overflow-y: scroll;
 overflow-x: scroll;
 width: inherit;
 box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 25%);
}

.tableNavPanel
{
 padding: 10px;
 height: 2vh;
 min-height: 30px;
 border-radius:10px 10px 0px 0px;
 margin-left: auto;
 margin-right: auto;
 background-color: #ed8b21;
 width: inherit;
 box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 25%);
}

.resColumn
{
 width: 10vw;
 min-width: 100px;
 display: flex;
 flex-direction: column;
 gap: 5px;

}
.reservationElement
{
 width: 10vw;
 min-height: 50px;
 border-radius: 10px;
 box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 25%);
 min-width: 100px;

}
.reservationElement p
{
 margin: 5px;
}

.reservedByUser
{
 background-color: rgb(237,139,33);
}
.reservedByUser:hover
{
 background-color: rgb(255,213,0);
}

.available
{
 background-color: rgb(161,195,81);
}
.available:hover
{
 background-color: rgb(47,179,232);
}

.reserved
{
background-color: gray;
}
.reserved:hover
{
 background-color: gray;
}

.sideMenu
{
 display:flex;
 flex-direction: column;
 color: #ed8b21;
 background-color: #f5e5d4;
 padding: 10px;
 width: 16vw;
 min-width: 200px;
 height: 50vh;
 min-height: 400px;
 margin-top: 2vh;
 border-radius: 10px;
}

.sideMenu form
{
 display: flex;
 flex-direction: column;
}

.sideMenuButton
{
 margin: 5px;
 font-weight: 600;
}
.header-logo
{
 -webkit-font-smoothing: antialiased;
 -webkit-text-size-adjust: 100%;
 text-align: right;
 transition: background-color 0.3s ease;
 margin: 0;
 margin-left: 15px;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
 height: 110px;
 width: 100%;
 background-position: left center;
 background-size: contain;
 background-repeat: no-repeat;
 text-decoration: underline;
 outline: 0;
 color: #32b1e7;
 background-image: url("../Assets/logo_lyceum.svg");
 display: block;
}

.headerFlex
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.bannerPane
{
 width: 100%;
 height: 10px;
 background-color: #9fc151;


 -webkit-font-smoothing: antialiased;
 -webkit-text-size-adjust: 100%;
 color: #808080;
 text-align: left;
 transition: background-color 0.3s ease;
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
 min-height: 10px;
 background-color: #ecf3dc;
}
.modal
{
 z-index: 100;
 display:none;
 position: fixed;
 width: 80vw;
 height: 80vh;
 background-color: white;
 border-radius: 10px;
 left: 50%;
 top: 5vh;
 transform: translate(-50%,0);
}
.modalBackground
{
 z-index: 99;
 display: none;
 position: fixed;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,80%);
}
.active
{
 display: block;
}
.modalPadding
{
 padding: 1vw;
}
.modalMargin
{
 margin: 1vw;
}

.flexCenter
{
 margin-left: auto;
 justify-content: center;
 flex-direction: row;

}
.flexCenterRow
{
 margin-left: auto;
 justify-content: center;
 flex-direction: row;
}

.orangeBorder
{
  border-color:rgb(237,139,33);
 border-width: 5px;
 border-style: solid;
}
.greenBorder
{
 border-color:rgb(161,195,81);
 border-width: 5px;
 border-style: solid;
}
.Green{
 background-color: #9fc151;
}
.Orange{
 background-color: #ed8b21;
}

.infoPanel
{
 margin-top: 2vh;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 10px;
 justify-content: space-between;
}
.textFieldDescription
{
 margin-top: 4vh;
}
.textFieldDescription h2
{
 text-align: center;
}
.modal h1
{
 text-align: center;
}
textarea
{
 resize: none;
 width: 95% ;
 height:32vh ;
}
.day
{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 color:#808080;
}
.week
{
 padding: 5px;
 border-radius: 10px;
 background-color: rgba(255,255,255,25%);
}
.weekToggle
{
  font-weight: 1000;
  color: #808080;
  text-decoration: none;
 font-size: 18px;
}

.DragDown
{
 position:absolute;
bottom:0px;

}

@media (max-width: 767px) {
 .modal
 {
  width:60vw;
 }
 .flexCenter
 {
  flex-direction: column;
 }
 .Center
 {
  transform: translateX(12.5%);
 }
}
@media (min-width: 768px) {
 .modal
 {
  width: 40vw;
 }
}
@media (min-width: 1440px) {
 .modal
 {
  width: 30vw;
 }
}


.Table::-webkit-scrollbar {
 width: 20px;
}

.Table::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey;
 border-radius: 10px;
 background-color:#c0c0c0;
}

.Table::-webkit-scrollbar-thumb {
 background:#808080;
 border-radius: 10px;
}
.ActieButton
{
 border-radius: 10px;
 border: none;
 padding: 10px;
}
.Table::-webkit-scrollbar-corner
{
 background-color: #c0c0c0;
 border-radius: 0 0 10px 0;
}